/* Universal styles */

html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.body {
  margin: 0 0;
}

h1, h2, h3 {
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-weight: 700;
}

/* Hero banner section */

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

.header img {
  height: 4rem;
  width: 4rem;
}

.header span {
  vertical-align: middle;
  font-size: 1.75rem;
}

#name1 {
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 500;
}

#name2 {
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 100;
  color: gray;
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

.mobile_nav {
  display: none;
}

@media only screen and (max-width: 720px) {
  .nav {
    display: none;
  }
  .mobile_nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #name1, #name2, #school_icon {
    display: none;
  }
  .mobile_nav img {
    height: 3.5rem;
  }
}

/* Information section */

.hero_banner {
  display: flex;
  background-color: #D3D3D3;
}

.hero_banner img {
  width: 55%;
  height: 50%;
  padding: 2rem 1.5rem;
}

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem 2rem 0rem;
}

.learn h1 {
  line-height: 2rem;
  margin: .5rem 0;
}

.start_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 90%;
  background-color: #696969;
}

.start_button span {
  color: white;
}

@media only screen and (max-width: 720px) {
  .hero_banner {
    flex-direction: column;
  }
  .hero_banner img {
    width: 100%;
    padding: 0rem 0rem;

  }
  .learn {
    align-items: center;
    padding: 2rem 1rem;
  }
  .start_button {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    height: 4rem;
    width: 75%;
  }
}

/* Start learning section */

.about {
  display: flex;
  width: 100%;
}

.profile {
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid #D3D3D3;
}

.profile img {
  width: 100%;
}

.profile span {
  font-family: "Oswald", Arial, sans-serif;
}

.info {
  width: 40%;
  padding-top: 1rem;
}

.dates, .campus, .guest {
  display: flex;
  border-bottom: 1px solid #D3D3D3;
}

.campus img {
  width: 35%;
  height: 25%;
  margin: 1rem;
}

.dates img {
  width: 35%;
  height: 25%;
  margin: 1rem;
}

.guest img {
  width: 35%;
  height: 25%;
  margin: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.details span {
  margin: .25rem 0;
  font-size: 0.8rem;
}

.guest {
  background-color: #D3D3D3;
}

/* Thesis exhibit section */

.learning {
  background-color: #D3D3D3;
  padding: 1rem;
}

.learning h1 {
  margin: 2rem;
  text-align: center;
}

.course_row1 {
  display: flex;
  justify-content: space-between;
  margin: 0 4.5rem;
}

.course_row2 {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4.5rem;
}

.class {
  width: 31.5%;
  background-color: white;
}

.class img {
  width: 100%;
}

.class_info {
  padding: 1rem 1rem .5rem 1rem;
}

.class_info p {
  font-size: 0.8rem;
}

/* Thesis section */

#thesis {
  margin-top: 2rem;
  text-align: center;
}

.thesis {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #D3D3D3;
}

.video {
  width: 60%;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.video video {
  width: 100%;
}

.video h3 {
  margin-top: 1.5rem;
}

.video p {
  margin-bottom: 2rem;
}

.thesis_info {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-top: 1rem;
}

.exhibitA {
  display: flex;
  margin: 0rem 0;
  background-color: #D3D3D3;
  align-items: center;
}

.exhibitB {
  display: flex;
  margin: 0rem 0;
  align-items: center;
}

.exhibitA img {
  width: 35%;
  margin: 1rem;
}

.exhibitB img {
  width: 35%;
  margin: 1rem;
}

.exhibit_info {
  display: flex;
  flex-direction: column;
  width: 65%;
  line-height: 0.9rem;
  font-size: 0.9rem;
}

.exhibit_info h3 {
  margin: 1rem 0;
  padding: 0 0;
}

.exhibit_info span {
  margin: 1rem 0;
  padding: 0 0;
}

/* Footer section */

.footer {
  display: flex;
  margin: 1rem 2rem 4rem 2rem;
  font-size: 0.75rem;
}

.copyright {
  width: 100%;
}

.terms {
  display: flex;
  align-items: flex-end;
}

.terms span {
  margin: 0rem 1rem;
}
